name: A workflow for my Hello World App
on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  UnitTests:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0
      - name: Update Submodules
        run: git submodule update --init --remote
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Unit Tests
        run: mvn -Dtest=com.testproject.AppTest test
      - name: CodeCov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.SNK_CODECOV_TOKEN }}
          slug: snk-40794423/devopslabi
          directory: ./target/site/jacoco
          flags: Integration Tests # optional
          verbose: true # optional (default = false)


  IntegrationTests:
    name: Integration Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0
      - name: Update Submodules
        run: git submodule update --init --remote
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Integration Tests and CodeCov
        run: |
          docker rm -f employees || true
          docker rmi database || true
          docker build -t database ./db
          docker run --name employees -dp 33060:3306 database
          for i in {1..30}; do
            docker exec employees mysql -uroot -pexample -e "SELECT 1" && break
            echo "Waiting for MySQL..."
            sleep 2
          done
          mvn -Dtest=com.testproject.AppIntegrationTest test
          docker stop employees
          docker rm employees
          docker image rm database
      - name: CodeCov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.SNK_CODECOV_TOKEN }}
          slug: snk-40794423/devopslabi
          directory: ./target/site/jacoco
          flags: Integration Tests # optional
          verbose: true # optional (default = false)

  build:
    name: Build Run in Docker and Deploy Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0
      - name: Update Submodules
        run: git submodule update --init --remote
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Package and Run docker compose
        run: |
          mvn package -DskipTests
          docker compose up --abort-on-container-exit
      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: false
          automatic_release_tag: "latest"
          files: |
            ./target/*.jar
      - name: Copy Output
        run: docker container cp devopslabi-app-1:./tmp/reports ./
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4.2.5
        with:
          branch: reports # The branch the action should deploy to.
          folder: reports # The folder we are copying